/* src/css/TemperatureCard.css */
.temperature-card {
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temperature-card h5 {
  font-size: 1.5rem;
  color: #333;
}

.temperature-card h2 {
  font-size: 3rem;
  color: #ff5722;
}
